    rewrite ^/users/register/(.*) /index.php?p=register&ref=$1;
    rewrite ^/users/register /./index.php?p=register;
    rewrite ^/users/login /./index.php?p=login;
    rewrite ^/users/logout /./index.php?p=logout;
    rewrite ^/users/lost/(.*)/(.*)/ /./index.php?p=lost&email=$1&code=$2;
    rewrite ^/users/lost/(.*)/(.*) /./index.php?p=lost&email=$1&code=$2;
    rewrite ^/users/lost /./index.php?p=lost;
    rewrite ^/news/(.*)/ /index.php?page_no=$1;
    rewrite ^/news/(.*) /index.php?page_no=$1;
    rewrite ^/news/ /index.php;
    rewrite ^/news /index.php;
    rewrite ^/read/(.*)/ /index.php?p=read&no=$1;
    rewrite ^/read/(.*) /index.php?p=read&no=$1;
    rewrite ^/ranking/players/(.*)/(.*)/ /index.php?p=players&page_no=$1&player_name=$2;
    rewrite ^/ranking/players/(.*)/(.*) /index.php?p=players&page_no=$1&player_name=$2;
    rewrite ^/ranking/players/(.*)/ /index.php?p=players&page_no=$1;
    rewrite ^/ranking/players/(.*) /index.php?p=players&page_no=$1;
    rewrite ^/ranking/players/ /index.php?p=players;
    rewrite ^/ranking/players /index.php?p=players;
    rewrite ^/ranking/guilds/(.*)/(.*)/ /index.php?p=guilds&page_no=$1&guild_name=$2;
    rewrite ^/ranking/guilds/(.*)/(.*) /index.php?p=guilds&page_no=$1&guild_name=$2;
    rewrite ^/ranking/guilds/(.*)/ /index.php?p=guilds&page_no=$1;
    rewrite ^/ranking/guilds/(.*) /index.php?p=guilds&page_no=$1;
    rewrite ^/ranking/guilds/ /index.php?p=guilds;
    rewrite ^/ranking/guilds /index.php?p=guilds;
    rewrite ^/user/delete/(.*)/ /index.php?p=administration&code=$1;
    rewrite ^/user/delete/(.*) /index.php?p=administration&code=$1;
    rewrite ^/user/password/(.*)/ /index.php?p=password&code=$1;
    rewrite ^/user/password/(.*) /index.php?p=password&code=$1;
    rewrite ^/user/email/(.*)/ /index.php?p=email&code=$1;
    rewrite ^/user/email/(.*) /index.php?p=email&code=$1;
    rewrite ^/user/email/ /index.php?p=email&code=$1;
    rewrite ^/user/email /index.php?p=email&code=$1;
    rewrite ^/user/administration /./index.php?p=administration;
    rewrite ^/user/characters /./index.php?p=characters;
    rewrite ^/user/donate /index.php?p=donate;
    rewrite ^/user/vote4coins/(.*)/ /index.php?p=vote4coins&site=$1;
    rewrite ^/user/vote4coins/(.*) /index.php?p=vote4coins&site=$1;
    rewrite ^/user/vote4coins /./index.php?p=vote4coins;
    rewrite ^/admin/log/(.*)/(.*)/ /index.php?p=admin&a=log&log=$1&page_no=$2;
    rewrite ^/admin/log/(.*)/(.*) /index.php?p=admin&a=log&log=$1&page_no=$2;
    rewrite ^/admin/log/(.*)/ /index.php?p=admin&a=log&log=$1;
    rewrite ^/admin/log/(.*) /index.php?p=admin&a=log&log=$1;
    rewrite ^/admin/functions /index.php?p=admin&a=functions;
    rewrite ^/admin/createitems /index.php?p=admin&a=createitems;
    rewrite ^/admin/privileges /index.php?p=admin&a=privileges;
    rewrite ^/admin/coins /index.php?p=admin&a=coins;
    rewrite ^/admin/players/(.*)/(.*)/ /index.php?p=admin&a=players&page_no=$1&player_name=$2;
    rewrite ^/admin/players/(.*)/(.*) /index.php?p=admin&a=players&page_no=$1&player_name=$2;
    rewrite ^/admin/players/(.*)/ /index.php?p=admin&a=players&page_no=$1;
    rewrite ^/admin/players/(.*) /index.php?p=admin&a=players&page_no=$1;
    rewrite ^/admin/players/ /index.php?p=admin&a=players;
    rewrite ^/admin/players /index.php?p=admin&a=players;
    rewrite ^/admin/redeem/(.*)/ /index.php?p=admin&a=redeem&page_no=$1;
    rewrite ^/admin/redeem/(.*) /index.php?p=admin&a=redeem&page_no=$1;
    rewrite ^/admin/redeem/ /index.php?p=admin&a=redeem;
    rewrite ^/admin/redeem /index.php?p=admin&a=redeem;
    rewrite ^/admin/player/edit/(.*)/ /index.php?p=admin&a=player_edit&id=$1;
    rewrite ^/admin/player/edit/(.*) /index.php?p=admin&a=player_edit&id=$1;
    rewrite ^/admin/vote4coins/(.*)/ /index.php?p=admin&a=vote4coins&del=$1;
    rewrite ^/admin/vote4coins/(.*) /index.php?p=admin&a=vote4coins&del=$1;
    rewrite ^/admin/download/(.*)/ /index.php?p=admin&a=download&del=$1;
    rewrite ^/admin/download/(.*) /index.php?p=admin&a=download&del=$1;
    rewrite ^/admin/donate/(.*)/ /index.php?p=admin&a=donate&del=$1;
    rewrite ^/admin/donate/(.*) /index.php?p=admin&a=donate&del=$1;
    rewrite ^/admin/(.*)/ /index.php?p=admin&a=$1;
    rewrite ^/admin/(.*) /index.php?p=admin&a=$1;
    rewrite ^/admin/ /index.php?p=admin;
    rewrite ^/admin /index.php?p=admin;
    rewrite ^/download/ /index.php?p=download;
    rewrite ^/download /index.php?p=download;
    rewrite ^/user/referrals/ /index.php?p=referrals;
    rewrite ^/user/referrals /index.php?p=referrals;
    rewrite ^/user/redeem/ /index.php?p=redeem;
    rewrite ^/user/redeem /index.php?p=redeem;
    rewrite ^/referral/(.*)/ /index.php?p=register&promoter=$1;
    rewrite ^/referral/(.*) /index.php?p=register&promoter=$1;